{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}GW4E Documents{% endblock %}
{% block script %}
{{ block.super }}
<script src="/static/js/bstreeview.js"></script>
{% endblock %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/bstreeview.css"/>
<style>

.content {
  background-color: white;
  padding: 24px 2% 0 2%
}

h2,h3 {
  padding-bottom: 0.5em;
}

#preview {
  height: 638px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.preview {
  max-height: 638px;
  max-width: 100%;
  display: block;
  margin: auto;
}

#tree1 {
  height: 600px;
  max-height: 600px;
  overflow-y: auto;
}

</style>
{% endblock %}
{% block content %}
<div class="container">
<div class="content">
<h2 class="text-center">Groundwater Mapping<br>for Climate Resilient WASH in Ethiopia</h2>	
<h3 class="text-center">Reports and maps</h3>
<hr/>
<div class="row row-fluid">
<div class="col col-3">
    <select id="cluster" class="custom-select" onchange="changeCluster()">
	    <option value="0" selected>All clusters</option>
	    <option value="1">Cluster 1 - Wag Himra</option>
	    <option value="2">Cluster 2 - Afar</option>
	    <option value="3">Cluster 3 - Siti</option>
	    <option value="4">Cluster 4 - Liben</option>
	    <option value="5">Cluster 5 - Bale</option>
	    <option value="6">Cluster 6 - Borena</option>
	    <option value="7">Cluster 7 - Wolayta</option>
	    <option value="8">Cluster 8 - South Omo</option>
    </select>
  	<div id="tree1"></div>
</div>
<div class="col col-9">
	<div id="preview" class="d-flex justify-content-center align-items-center h-100"><i class="text-muted">Select a document</i></div>
</div>
</div>
</div>
</div>

<script>

/**
 * get data from backend and transform to structure for treeview
 * @todo: let backend return data in format suitable for treeview
 */
function getTreeData(url) {
	const getGroup = group => {
		const getDocs = group => {
			return group.documents.map(doc => {
				return {
					text: doc.name,
					href: doc.url,
					img: doc.img
				}
			})
		} 
		return group.folders.map(folder => {
			return {
				text: folder.name,
				state: folder.state,
				nodes: [...getDocs(folder), ...getGroup(folder)]
			}
		})
	}

	return $.getJSON(url).then(response => {
		const tree = response.results.map(group => getGroup(group))
		return tree[0]
	})
}

var previewTimer = undefined

function clearPreviewTimer() {
	if (previewTimer) {
		window.clearTimeout(previewTimer)
		previewTimer = undefined
	}	
}

function showContent(content) {
	$("#preview").html("Loading...")
	$("#preview").html(content)
}

function loadTree(cluster) {
	let url = '/docs'
	if (cluster) {
		url += `?cluster=${cluster}`
	}
	getTreeData(url).then(tree => {
		$("#tree1").bstreeview({data: tree})
		$("#tree1 .open").collapse('show').removeClass('open')
		const items = $("#tree1 .list-group-item") 
		items.on("mouseleave", function() {
			clearPreviewTimer()
		})
		items.on("mouseenter", function() {
			clearPreviewTimer()
			const thumb = $(this).attr('thumb')
			let content = ''
			if (thumb) {
				content = `<img class="preview" src="${thumb}">`
				const link = $(this).find("a[href]").first()
				if (link) {
					const href = link.attr("href")
					content = `<a href="${href}" title="Click to open">${content}</a>`
				} 
			}
			else {
				return; //content = '<i>(No preview available)</i>'
			}
			// show preview content when mouse is 800 msec on item 
			previewTimer = window.setTimeout(content => showContent(content), 800, content)
		})
	})
}

function changeCluster() {
	const cluster = $("#cluster").val()
// 	loadTree(cluster)
	location.reload()
}

$(function() {
	
	loadTree($("#cluster").val())
	
});
</script>
{% endblock content %}
