<p>The links below are meant for GIS professionals. They are provided to facilitate the construction of custom maps from the GIS layers provided by the project.</p>
<p>If you need assistance in using web-based GIS services, please check the documentation for 
<a href="https://docs.qgis.org/latest/en/docs/training_manual/online_resources/index.html">QGIS</a> or  
<a href="https://desktop.arcgis.com/en/arcmap/latest/map/web-maps-and-services/about-using-ogc-service-layers.htm">ArcGIS</a>.</p> 
<table class="table table-hover">
<thead></thead>
<tbody></tbody>
<tr><th>Link</th><th>Type</th></tr>
<tr><td><a href="https://gis.acaciadata.com/?map=/project/gw4e/database.qgz&service=WFS&request=GetCapabilities">Inventory and water quality data</a></td><td>WFS service</td></tr>
<tr><td><a href="https://gis.acaciadata.com/?map=/project/gw4e/gw4e.qgz&service=WFS&request=GetCapabilities">Target sites</a></td><td>WFS service</td></tr>
<tr><td><a href="https://gis.acaciadata.com/?map=/project/gw4e/gw4e.qgz&service=WMS&request=GetCapabilities">Other maps</a></td><td>WMS service</td></tr>
<tr><td><a href="ftp://unicef@acaciadata.com">GIS source files</a></td><td>FTP site</td></tr>
<tfoot></tfoot>
</table>