<ul>
<li>Executive organizations
	<ul>
		<li>Funding organization:  European Union through overarching EU RESET II program</li>
		<li>Implementing agency: UNICEF Ethiopia</li>
		<li>Ethiopian governmental counterpart</li>
	</ul>
</li>
<li>Beneficiary organizations
	<ul>
		<li>Ministry of Water, Irrigation and Electricity</li>
		<li>Regional Water Bureaus of Amhara, Afar, Somali, Oromia and SNNPR regions</li>
		<li>Zonal Water Bureaus of Wag Himra, Afar, Siti, Liben, Bale, Borena, Wolayta and South Omo</li> 
	</ul>
</li>
<li>RESET II partners
	<ul>
		<li>CORDAID (Liben)</li>
		<li>CARE (Borena)</li>
		<li>Action contre la Faim (Wag Himra)</li>
		<li>Vita Ethiopia (South Omo)</li>
		<li>Danish Church Aid (Bale)</li>
		<li>Caritas Germany</li>
		<li>Save the Children (Afar)</li>
	</ul>
</li>
<li>GW4E consultant consortium
	<ul>
		<li>Organizations
			<ul> 
				<li>EU joint Research Centre</li>
				<li>Acacia Water BV</li>
				<li>AQUACON Engineering PLC</li>
			</ul>
		</li>
		<li>GW4E team
			<ul>
				<li>Abebe Ketema, hydrogeologist and team leader Ethiopia (independent)</li>
				<li>Dr Seifu Kebede, hydrogeologist and hydrogeochemist (Addis Ababa University)</li>
				<li>Dr Jacobus (Koos), hydrogeologist and overall project manager (Acacia Water)</li>
				<li>Dr Asfawossen Asrat, geologist (Addis Ababa University)</li>
				<li>Assaminew Gebeyehu, hydrogeologist and cartographer (independent)</li>
				<li>Theo Kleinendorst, specialist data processing and overlay analysis (Acacia Water)</li>
				<li>Zenaw Tessema, hydrogeologist and logistics (AQUACON)</li>
				<li>Dr Tilahun Azagegn, hydrogeologist (Addis Ababa University)</li>
				<li>Dr Shimelis Woodemichael, geophysicist (Addis Ababa University)</li>
				<li>Dr Arjen de Vries, hydrologist and project director (Acacia Water)</li>  
				<li>Daniela Benedicto, hydrogeologist and editor (Acacia Water)</li> 
				<li>Dr Gaddissa Deyassa, hydrogeologist and hydrogeochemist (Addis Ababa University)</li>  
				<li>Dr Tesfamichael Tewolde, hydrologist and model expert (Mekelle University)</li>   
				<li>Betseha Nahusenay, hydrogeologist and logistics (AQUACON)</li>
			</ul>
		</li>
	</ul>
</li>
</ul>
